.main_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    width: 100%;
}

.main_info {
    text-align: center;
    width: 80%;
}

.main_info img {
    width: 15em;
}

.main_info h1 {
    margin-bottom: 1.2em;
    z-index: 1;
}

.main_info h2 {
    margin: .5em;
    z-index: 1;
}

.main_info p {
    margin: .6em 0 .6em 0;
    font-weight: 500;
    font-size: 1.1em;
    z-index: 1;
}